<?xml version="1.0"?>

<model>
  <name>lumberjack</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Colin Lewis</name>
  </author>

  <maintainer email="urmomgay@osrfoundation.org">john hsu</maintainer>


  <description>
    Human actor for the sim
  </description>
</model>
